body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --spacing-m: 2.2rem;
  --spacing-s: 0.6rem;
  --main-accent: #01de95;
  --second-accent: #5644D8;
  --main-bg: #fcebda;
  --second-bg: rgb(255, 139, 128);
  --border-radius: 9px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
